*~
/bin
partner_apps/apt_check_ingest/apt_check_ingest
partner_apps/apt_validate/apt_validate
partner_apps/apt_download/apt_download
partner_apps/apt_upload/apt_upload
partner_apps/apt_upload/apt_list
partner_apps/apt_upload/apt_delete
partner_apps/bin
apps/apt_restore_from_glacier/apt_restore_from_glacier
.DS_Store
