*~
/bin
partner_apps/apt_check_ingest/apt_check_ingest
partner_apps/apt_validate/apt_validate
partner_apps/apt_download/apt_download
partner_apps/apt_upload/apt_upload
partner_apps/apt_upload/apt_list
partner_apps/apt_upload/apt_delete
partner_apps/bin
apps/apt_restore_from_glacier/apt_restore_from_glacier
apps/apt_dump_valdb/apt_dump_valdb
.DS_Store
testdata/unit_test_bags/dpn/*.valdb

# List of files copied to Glacier as part of Fall 2019 audit.
audit/2019-10/create_replication_events.txt
audit/2019-10/__glacier_copies.json

# List of files manually confirmed present and correct
audit/2019-10/confirmations.txt

# Binary that copies the files to Glacier
audit/2019-10/create_events
