# nsqd config file
#
# See http://nsq.io/components/nsqd.html for details, but note that
# when config options that are specified --like-this on the command
# line must be specified like_this in the config file.
#
# See also https://groups.google.com/forum/#!topic/nsq-users/ZgJABCzK5Mk
# for command-line vs. config file.

# Setting mem-queue-size to zero causes nsqd to persist all queue
# data to disk.
mem_queue_size="0"

# Directory in which nsqd should store its data files
data_path="/mnt/apt/data/"

# Specify the address for accepting tcp connections from consumers.
# In production, we should set this to listen only on the private
# AWS subnet.
tcp_address="0.0.0.0:4150"

# Use a hostname without :port for the broadcast address.
# If you don't specific broadcast_address, NSQ will use the system's
# hostname, and if that name isn't a fully qualified domain name
# with a proper DNS entry, all NSQ clients will fail to connect.
broadcast_address="apt-util.aptrust.org"

# Specify nslookupd location, so nsqd can tell the discovery
# service that it's up and running.
#lookupd_tcp_address="127.0.0.1:4160"
nsqlookupd_tcp_addresses="127.0.0.1:4160"

# If nsqd doesn't hear from a worker in this amount of time,
# the message times out and nsqd requeues it.
msg_timeout="360m0s"

# Workers can send periodic touch messages to nsqd to say they
# are still actively processing a request. The touch request
# resets the timer for that message, so it won't time out.
# However, you can only touch the message up to max-msg-threshold
# before nsqd decides to requeue the message. Some of our very
# large files really will take this long to process!
max_msg_timeout="720m0s"


# Max message size is 30MB, because we get some really big bags
# and we need to pass a JSON message with info about thousands
# of files to NSQ.
max_msg_size="31457280"

# Max number of items to send in a single batch to one worker.
# Leave commented for now. Need to read up on documentation for this one.
# max_rdy_count=200
